<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=1100" />
<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
<title>AS servizi alle imprese</title>
<link href="{{ STATIC_URL }}/stiloso.css" rel="stylesheet" type="text/css" />
<link href="{{ STATIC_URL }}/menu4.css" rel="stylesheet" type="text/css" />

<!-- SHARE THIS -->

<script type="text/javascript">var switchTo5x=false;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "8268944a-900a-49af-a556-4374bbb32b03", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

<!-- FINE SHARE -->


</head>



<!--------------- MENU ACTIVE ----------->
<script>
$(document).ready(function(){
    var $menu = $("ul#menux li a");                
    $menu.click(function(){
        $menu.each(function(){
            $(this).removeClass("active");
        });
        $(this).addClass("active");                  
    });
 });
</script>


<!----- cssmenu script 
<script>
$(document).ready(function(){
    var $cssmenu = $("#cssmenu li a");                
    $cssmenu.click(function(){
        $cssmenu.each(function(){
            $(this).removeClass("active");
        });
        $(this).addClass("active");                  
    });
 });
</script>
----->
<!----------- HEADER --------->

<!----------------- HOVER ------------------------->
<script> 

$(document).ready(function(){ 

    $("li.menux1").on('mouseover', function(){ $
		("#header").removeClass().addClass("header1");
	});
	$("li.menux2").on('mouseover', function(){ $
		("#header").removeClass().addClass("header2");
	});
	$("li.menux3").on('mouseover', function(){ $
		("#header").removeClass().addClass("header3");
	});	
	$("li.menux4").on('mouseover', function(){ $
		("#header").removeClass().addClass("header4");
	}); 	
	$("li.menux5").on('mouseover', function(){ $
		("#header").removeClass().addClass("header5");
	});
	$("li.menux6").on('mouseover', function(){ $
		("#header").removeClass().addClass("header6");
	});
});


</script>

<!----------- CLICK HEADER --------->
<script> 

$(document).ready(function(){ 

    $("li.menux1").click( function(){ $
		("#header").removeClass().addClass("header1");
	});
	$("li.menux2").click( function(){ $
		("#header").removeClass().addClass("header2");
	});
	$("li.menux3").click( function(){ $
		("#header").removeClass().addClass("header3");
	}); 	
	$("li.menux4").click( function(){ $
		("#header").removeClass().addClass("header4");
	}); 	
	$("li.menux5").click( function(){ $
		("#header").removeClass().addClass("header5");
	});
	$("li.menux6").click( function(){ $
		("#header").removeClass().addClass("header6");
	});
});


</script>

<!----------- fine header ------->


<body topmargin="0" id="body">
<!-- Header -->
<div id="sfondo"></div>
<div id="header" class="header">

<!-- TOP MENU -->
<div id="topmenu">
<div id="drop-menutop"><ul id="menutop">
	<li class="menutop"><a href="{{ MYPATH }}/">Home</a></li>
				<li class="menutop"><a href="#">Mission</a>
				<li class="menutop"><a href="#">Corporate</a></li>
				<li><a href="{{ MYPATH }}/contact">Contatti</a></li>
                </ul>
</div>
</div>


<!------------ --->
<div id="logo"></div>
</div>

<!-- Menu guida -->
<div id="contmenu">
<div id="drop-menux"><ul id="menux">
				<li class="menux1"><a href="{{ MYPATH }}/sicurezza">Sicurezza</br>e Salute</a></li>
				<li class="menux2"><a href="{{ MYPATH }}/ambiente">Ambiente</br>e Territorio</a>
				<li class="menux3"><a href="{{ MYPATH }}/formazione">Formazione</br>Aziendale</a></li>
				<li class="menux4"><a href="{{ MYPATH }}/organizazzione">Organizazzione e</br>Gestione Aziendale</a></li>
                <li class="menux5"><a href="{{ MYPATH }}/pratiche">Pratiche</br>Amministrative</a></li>
                <li class="menux6"><a href="{{ MYPATH }}/perizie">Perizie</br>Tecnice e CTP</a></li>
			</ul>
		</div>      
        
</div>


<! --------- CARICAMENTO DJANGO ----------------->

<div id="contenitore">

<div id="leftside">
<script>
$(function(){
    $('#cssmenu li a').on('click', function(e){
        e.preventDefault();
        var page_url=$(this).prop('href');
        $('#testosottocard').load(page_url);
    });
});
</script>



<script>
$(document).ready(function(){
    var $cssmenu = $("#cssmenu li a");                
    $cssmenu.click(function(){
        $cssmenu.each(function(){
            $(this).removeClass("activecss");
        });
        $(this).addClass("activecss");                  
    });
 });
</script>


<!---- MENU SINISTRA -->

{% include "componenti/menuorganizzazzione.html" %}
</div>
<!-- FINE MENU SINISTRA -->

<div id="content">
<div id="cercatore">
<div class="cercami"><form action="{{ MYPATH }}/results/" action="" method="get">Cerca: <input id="id_q" name="q" type="text" name="textfield" style="width: 400px; height: 20px;"></form>{% csrf_token %}</div>
</div>

<div id="testosottocard">
	<!--
{% include "componenti/pagine/iso9000.html" %}

-->
	
{% block content %}
{% endblock %} 
</div>

</div>
<div id="rightside">
<p>&nbsp;</p>

{% include "componenti/login.html" %}
{% include "componenti/newsletter.html" %}
{% include "componenti/social.html" %}
<p>&nbsp;</p>
<p><a class="problem" href="{{ MYPATH }}/problematica">PARLACI</br>DELLA TUA</br>PROBLEMATICA</a></p>
<p></br></p>
<p><a class="richiest" href="{{ MYPATH }}/richiesta">RICHIESTA</br>INFORMAZIONI</a></p>
<!--
<p><img src="{{ STATIC_URL }}/img/rx.jpg" class="imgrx"></p>
-->
</div>


<div id="footero">
<div id="footeroleft"></div>
<div id="footerocenter"><img src="{{ STATIC_URL }}/img/loghifootera.jpg"></div>
</div>

<div id="footer">
<div id="footerleft"></div>
<div id="footercenter"></br>AS Servizi alle imprese s.r.l. -  C.F. e P.I: 02288730167  -  Via C. Maffei, 11 -  24128 BERGAMO  -  Tel. 035.238112 - Fax 035.224525 - <a href="mailto:info@asservizi.it">info@asservizi.it</a></div>
<div id="footerright">   </br>Designed by</br>grafica<B>PASSWORD</B></div>

</div>
</div>
</div>
</body>
</html>
