<form id="form1" name="form1" method="post" action="">
  <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td class="titlebox">&nbsp;</td>
    </tr>
    <tr>
      <td class="titlebox">&nbsp;</td>
    </tr>
    <tr>
      <td class="titlebox">Social</td>
    </tr>
    <tr>
      <td><hr></td>
    </tr>
    <tr>
      <td><table width="98%" border="0" align="left" cellpadding="0" cellspacing="0">
        <tr align="center" valign="top">
          <td><img src="{{ STATIC_URL }}/img/googlr.png" width="20" height="20" /></td>
          <td><img src="{{ STATIC_URL }}/img/linkedin.png" width="21" height="21" /></td>
          <td><img src="{{ STATIC_URL }}/img/facebook.png" width="20" height="20" /></td>
          <td><img src="{{ STATIC_URL }}/img/twitter.png" width="20" height="20" /></td>
        </tr>
      </table></td>
    </tr>
  </table>
</form>
