
<ul id="cssmenu">
				<li><a href="{{ MYPATH }}/pagina/01">DVR</a>
				<li><a href="{{ MYPATH }}/pagina/02">DUVRI</a></li>
				<li><a href="{{ MYPATH }}/pagina/30">PIMUS</a></li>
                <li><a href="{{ MYPATH }}/pagina/04">PSC</a></li>
                <li><a href="{{ MYPATH }}/pagina/05">Normativa</br>Macchine</a></li>
                <li><a href="{{ MYPATH }}/pagina/06">Certificazione</br> OHSAS 18001</a></li>
                <li><a href="{{ MYPATH }}/pagina/03">Gestione </br>Cantieri e Pos</a></li>
                </ul>
                

