<ul id="cssmenu">
				<li><a href="{{ MYPATH }}/pagina/12">Formazione Base</br>(Tutti I Lavoratori, Preposti,</br>e Dirigenti)</a>
				<li><a href="{{ MYPATH }}/pagina/13">Sicurezza RLS</a></li>
				<li><a href="{{ MYPATH }}/pagina/14">RSPP-ASPP</a></li>
                <li><a href="{{ MYPATH }}/pagina/15">RSPP - Datore di Lavoro</a></li>
                <li><a href="{{ MYPATH }}/pagina/16">Addetti ai Ponteggi</a></li>
                <li><a href="{{ MYPATH }}/pagina/29">Addetti Antincendio</a></li>
                <li><a href="{{ MYPATH }}/pagina/17">Addetti al</br>Primo Soccorso</a></li>
                <li><a href="{{ MYPATH }}/pagina/18">Coordinatori per Progettazione</br>e per Esecuzione dei Lavori</a></li>
                <li><a href="{{ MYPATH }}/pagina/19">Abilitazione e Formazione</br>all'uso di attrezzature</a></li>
                </ul>

