{% block content %}
<p><span class="titolo" style="color: #ae3624;"><br/>Accatastamenti</span></span>
<p style="text-align: justify;">L&rsquo;accatastamento &egrave; l&rsquo;iscrizione degli immobili nei registri catastali con la conseguente attribuzione della rendita. Ai fini dell&rsquo;accatastamento i proprietari devono denunciare all&rsquo;Ufficio del Territorio le nuove costruzioni entro il 31 gennaio dell&rsquo;anno successivo a quello in cui sono diventate utilizzabili per l &lsquo;uso a cui sono destinate.</p>
<p style="text-align: justify;"><strong>Perch&eacute; &egrave; importante?</strong></p>
<p style="text-align: justify;">L&rsquo;Iscrizione degli immobili nei registri catastali &egrave; fondamentale poich&eacute; costituisce la base per il rilascio dell&rsquo;agibilit&agrave; e abitabilit&agrave; degli immobili stessi.</p>
<p style="text-align: justify;"><strong>Come Si Fa?</strong></p>
<p style="text-align: justify;">Con un&rsquo;apposita procedura informatica, chiamata DOCFA (Documenti Catasto Fabbricati) o PREGEO (PREtrattamento atti GEOmetrici), il contribuente, con l&rsquo; ausilio di un professionista abilitato, propone la denuncia della rendita catastale, sia di nuove costruzioni sia di singole unit&agrave; immobiliari gi&agrave; in essere. L &lsquo;ufficio del Territorio, se rettifica la rendita gi&agrave; attribuita o proposta dal contribuente, ha l&rsquo; obbligo di notificare all&rsquo;interessato la nuova rendita avverso la quale pu&ograve; essere presentato, entro 60 giorni, ricorso presso la competente Commissione tributaria.</p>
<p style="text-align: justify;"><strong>Chi Pu&ograve; Richiederla?</strong> Tutti i contribuenti proprietari di immobili. As servizi alle imprese si rivolge sia a tutti i contribuenti sia a tutti i professionisti, offrendo il servizio di:</p>
<ol>
<li style="text-align: justify;">Sopralluogo dell&rsquo;immobile e Rilievi;</li>
<li style="text-align: justify;">Raccolta dati;</li>
<li style="text-align: justify;">Compilazione e presentazione della procedura informatica.&nbsp;</li>
</ol></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
{% endblock content %}
