{% block content %}
<p><span class="titolo" style="color: #ae3624;"><br/>FORMAZIONE AZIENDALE</span></span>
<p>La sigla ISO 14001 identifica uno standard di gestione ambientale (SGA) che fissa i requisiti di un «sistema di <p style="text-align: justify;">A seguito dell&rsquo;entrata in vigore del D. Lgs. 81/2008 e dei successivi accordi Stato-Regioni del 21 dicembre 2011, sono stati definiti i corsi di formazione obbligatoria per tutti i lavorator</p>
<p style="text-align: justify;"><strong>CORSI PER TUTTI I LAVORATORI </strong></p>
<p style="text-align: justify;">Ai sensi dell&rsquo;articolo 37, comma 1 e 7, D. Lgs. 81/2008, tutti i lavoratori, indipendentemente dal rapporto contrattuale, &ldquo;devono essere adeguatamente informati e formati riguardo alle conoscenze e alle procedure aziendali, affinch&eacute; vengano consentiti, promossi ed agevolati tutti quei processi che comportano lo sviluppo continuo e costante di nuove competenze da parte di tutti gli attori presenti in azienda&rdquo;. I percorsi formativi sono articolati in moduli associati a tre differenti livelli di rischio, in base al settore di appartenenza Ateco 2002/2007 dell&rsquo;azienda.</p>
<p style="text-align: justify;">Il totale monte ore di formazione, per ogni livello di rischio, &egrave; a sua volta suddiviso in due differenti moduli: formazione generale: nella quale sono ripresi i concetti generali della prevenzione e sicurezza sul lavoro come previsti dal D. Lgs. 81/2008; formazione specifica: a seconda della macro-area di rischio, sono analizzati i rischi riferiti alle mansioni, ai possibili danni, alle conseguenti misure e procedure di prevenzione e protezione caratteristici del settore o del comparto Per ogni tipologia di rischio &egrave; previsto l&rsquo;obbligo di aggiornamento ogni 5 anni per un totale di 6 ore.</p>
<p style="text-align: justify;"><strong>CORSI PER I PREPOSTI</strong></p>
<p style="text-align: justify;">Per il preposto s&rsquo;integrer&agrave; la formazione prevista per i lavoratori, corrispondente al livello di rischio identificato, con ulteriori 8 ore di formazione specifica (programma: PDF), con contenuti particolari relativi al ruolo aziendale ricoperto in azienda. Per i preposti &egrave; previsto l&rsquo;obbligo di aggiornamento ogni 5 anni per un totale di 6 ore. CORSI</p>
<p style="text-align: justify;"><strong>PER I DIRIGENTI</strong></p>
<p style="text-align: justify;">La formazione dei dirigenti sostituisce integralmente quella prevista per i lavoratori. Infatti &egrave; costituita da quattro moduli specifici di formazione (programma: PDF) e la sua durata minima &egrave; di 16 ore, indipendentemente dal livello di rischio aziendale. Per i dirigenti &egrave; previsto l&rsquo;obbligo di aggiornamento ogni 5 anni per un totale di 6 ore.</p>>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
{% endblock content %}
