{% block content %}
<p><span class="titolo" style="color: #ae3624;"><br/>ISO 14001</span></span>
<p>La sigla ISO 14001 identifica uno standard di gestione ambientale (SGA) che fissa i requisiti di un «sistema di gestione ambientale» di una qualsiasi organizzazione e fa parte della serie ISO 14000 sviluppate dall'"ISO/TC 207".</p>
<p><
Lo standard può essere utilizzato per la certificazione, per una auto-dichiarazione oppure semplicemente come linea guida per stabilire, attuare e migliorare un sistema di gestione ambientale. La norma ISO 14001, giunta alla sua seconda edizione del 2004, si ispira esplicitamente al modello PDCA (Plan-Do-Check-Act), detto anche Ciclo di Deming dal nome del suo ideatore William Edwards Deming. Un’estesa linea guida è contenuta nella ISO 14004, che riporta i principi, sistemi e tecniche di supporto per i SGA. Una più sintetica "guida all'uso" è contenuta nella stessa ISO 14001:2004.</p>
<p>Nel febbraio del 2012 sono partiti i lavori della nuova revisione della norma, che dovrebbe essere pubblicata nel 2015. Lo standard ISO 14001 (tradotto in italiano nella UNI EN ISO 14001:2004) è uno standard certificabile, ovvero è possibile ottenere, da un organismo di certificazione accreditato che operi entro determinate regole, attestazioni di conformità ai requisiti in essa contenuti. Certificarsi secondo l’ISO 14001 non è obbligatorio, ma è frutto della scelta volontaria dell'azienda/organizzazione che decide di stabilire/attuare/mantenere attivo/migliorare un proprio sistema di gestione ambientale.</p>
<p>È inoltre importante notare come la certificazione ISO 14001 non attesti una particolare prestazione ambientale, né tanto meno dimostri un particolarmente basso impatto, ma piuttosto stia a dimostrare che l'organizzazione certificata ha un sistema di gestione adeguato a tenere sotto controllo gli impatti ambientali delle proprie attività, e ne ricerchi sistematicamente il miglioramento in modo coerente, efficace e soprattutto sostenibile.</p>

<p>Riguardo agli aspetti formali, la ISO 14001 ha la stessa struttura di tutte le norme ISO riferite a sistemi quali ISO 9001, ISO 9004, OHSAS 18001. Tutte queste norme, in ottica d’integrazione, ovvero di fusione reciproca, sono costruite per essere «copie conformi», ovvero hanno la numerazione dei capitoli e dei temi tale da essere confrontabile ed equivalente tra loro. A partire dal 2000 si è resa necessaria l'integrazione graduale dei sistemi ISO e/o di sistemi equivalenti di certificazione: ISO 9001:2008 ISO14001:2004 OHSAS 18001:2007 SA 8000:2001 è nata così l'integrazione dei sistemi qualità, ambiente, sicurezza ed etica.<p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
{% endblock content %}
